* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url(./images/LaptopImage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: White;
  border-radius: 0;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  height: auto;
  padding-bottom: 80px;
  background-color: transparent;
  
}

.hour-container {
  height: 100px;
  display: flex;
  border: solid black 1px;
  background-color: transparent;
}

.text-content {
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 9;
  background-color: transparent;
}

.hour-container textarea {
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
  padding: 20px 20px;
  font-size: 18px;
  border: none;
}

.hour {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  font-size: 24px;
  border-right: 1px solid black;
  background-color: transparent;
}


.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: transparent;
  color: White;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.past {
  background-color: #d3d3d36b;
  color: white;
}

.present {
  background-color: #ff69615d;
  color: white;
}

.future {
  background-color: #77dd774f;
  color: white;
}
